
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Odeo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Odeo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("New Post", "Index", "Post")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Log Out", "Logout", "UserRegistration", routeValues: null, htmlAttributes: new { id = "logOutLink" })
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                    </ul>
                }
                @if (!Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "UserLogin", routeValues: null, htmlAttributes: new { id = "LoginInLink" })</li>
                    </ul>
                }

                @*@if (Request.IsAuthenticated && UserRegist.Roles=="Admin")
                {
                    <ul class="nav navbar-nav">
                     <li>@Html.ActionLink("Admin Control", "Index", "Admin", routeValues: null, htmlAttributes: new { id = "AdminControl" })</li>
                    </ul>
                }*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
